body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
    background: #f4f4f4;
}

#char {
    font-size: 80px;
    margin: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#score {
    font-size: 20px;
    margin-top: 20px;
}